@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {    
    font-family: 'Noto Sans KR', sans-serif;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.boxContainer {
    padding-top: 50px;
    width: 50%;
    height: 500px;
    background-color: rgb(2, 2, 2);
    opacity: .7;    
}

/* Hero Section */
#hero {
    background-image: url('Images/background.jpg');
    background-size: cover;
    background-position: top center;
    position: relative;  
    z-index: 1;  
    
}    

#hero::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;    
    width: 100%;   
    background-color: black;
    opacity: .5;
    z-index: -1;
    
}    
#hero h1{    
    display: block;
    width: fit-content;
    font-size: 3rem;
    position: relative;
    color: transparent;
    margin: 0 auto;
    text-align: center;
    animation: text_reveal .5s ease forwards;
    animation-delay:  1.5s;    
}
#hero h1 span{
    padding-top: 50px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: rgb(78, 76, 187);
    animation: text_reveal_box 1s ease;
    animation-delay: 1s;
}
#hero .logo {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;    
    z-index: 2;
}

#hero h3 {
    text-align: center;
    margin-top: 20px;    
    color: white;
}
/* End Hero Section */

/*Keyframes*/
@keyframes text_reveal_box {
    50% {
        width: 100%;
        left: 0;
    }   
    100% {
        width: 0;
        left: 100%;
    }

}
@keyframes text_reveal {
    100% {
        color:rgb(78, 76, 187); 
    }
}
/*End of Key frames*/