@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {    
    font-family: 'Noto Sans KR', sans-serif;
}

body {    
    margin-top:40px ;
}
.regform {
    width: 800px;
    background-color: rgb(0,0,0,6);
    margin: auto;
    color:#FFFFFF;
    padding: 10px 0px 10px 0px;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
}
.main {
    background-color: rgb(0,0,0,0.5);
    width: 800px;
    margin: auto;
}
form {
    padding: 10px;
}
#name {
    width: 100%;
    height: 100px;
}
.name {
    margin-left: 25px;
    margin-top: 30px;
    width: 125px;
    color: white;
    font-size: 18px;
    font-weight: 700; 
}
.firstname{
    position: relative;
    left:200px;
    top: -37px;
    line-height: 40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
}
#header {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;    
    
}
#header .header {
    min-height: 8vh;
    background-color: rgba(31,30,30,0.24);    
}
#header .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 10px;
}
#header .nav-list ul {
    list-style: none;
    position: absolute;
    background-color: rgb(31,30,30);
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
    transition: .3s ease left;
}
#header .nav-list ul.active {
    left: 0;
}
#header .nav-list ul a {
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: .2rem;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    display: block;
}
#header .nav-list ul a::after {
    content: attr(data-after);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    color: rgba(240,248,255,0.021);
    font-size: 12rem;
    letter-spacing: 50px;
    z-index: -1;
    transition: .3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after{
    transform: translate(-50%,-50%) scale(1);
    letter-spacing: initial;
}
#header .nav-list ul li:hover a {
    color:rgb(78, 76, 187);
}
#header .hamburger {
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 3px solid white;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
    transform: scale(.8);
    margin-top: 20px;
    margin-right: 20px;
}
#header .hamburger .bar {
    height: 2px;
    width: 30px;
    position: relative;
    background-color: white;
    z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: white;
    transition: .3s ease;
    transition-property: top, bottom;    
}
#header .hamburger .bar::after {
    top: 8px;
}
#header .hamburger .bar::before {
    bottom: 8px;
}

/*Keyframes*/
@keyframes text_reveal_box {
    50% {
        width: 100%;
        left: 0;
    }   
    100% {
        width: 0;
        left: 100%;
    }

}
@keyframes text_reveal {
    100% {
        color:rgb(78, 76, 187); 
    }
}
/*End of Key frames*/

@media only screen and (min-width: 1200px) {
    #header .hamburger {
        display: none;
        background-color: black;
    }
    #header .nav-list ul {        
        position: initial;
        display: block;
        height: auto;
        width: fit-content;
        background-color: transparent;
    }
    #header .nav-list ul li {
        display: inline-block;
        margin: 10px;
    }
    #header .nav-list ul li {
        font-size: 1.8rem;
    }
    #header .nav-list ul a:after {
        display: none;
    }
}